<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.g8rsweep">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Location8"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Location7"
            android:configChanges="orientation"
            android:screenOrientation="portrait" ></activity>
        <activity android:name=".Location6"
            android:configChanges="orientation"
            android:screenOrientation="portrait" ></activity>
        <activity android:name=".Location5"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Location4"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Location3"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Location2"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Location1"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".LocationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".EntryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

</manifest>